<div id="disqus_thread"></div>
{{!	See ids/disqus.hbs to type in username. }}
<input type="hidden" value="{{> ids/disqus}}" id="disqus_shortname" />
<input type="hidden" value="{{post.id}}" id="disqus_identifier" />
{{! Modified and placed into own script to be compatible with stricter CSP. }}
<script type="text/javascript" src="{{asset 'js/disqus.js'}}"></script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>