<footer class="site-footer">
	<div class="inner">
		<section class="copyright">All content copyright {{@blog.title}} &copy; {{date format="YYYY"}} &middot; All rights reserved.</section>
		<section class="static-pages"><a href="/">Blog</a> &middot; <a href="/about/">About</a> &middot; <a class="icon-feed" href="/rss/" title="Subscribe"> Subscribe</a></section>
	</div>
	<section class="themeby poweredby"><a href="https://danemacmillan.com/ghost-blog-daner-theme">Daner</a> theme by <a href="https://danemacmillan.com">Dane MacMillan</a> for <a class="icon-ghost" href="https://ghost.org">Ghost</a></section>
</footer>
