{{! Tags template for index page and post page. }}

<ul class="post-tags">
	{{#foreach tags}}
		<li title="{{name}}">
			<a title="Find more posts tagged with &quot;{{name}}&quot;" href="{{url}}">
				<span itemprop="keywords">{{name}}</span>
			</a>
		</li>
	{{/foreach}}
</ul>