{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<main class="content page-default" role="main">

	{{#post}}

		<article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting">

			<h1 class="post-title" itemprop="name headline">{{{title}}}</h1>

			<section class="post-content" itemprop="articleBody">
				{{content}}
			</section>
		</article>

	{{/post}}

</main>
